<?xml version="1.0"?>
<config>
    <modules>
        <Magik_Civicsettings>
            <version>0.1.2</version>
        </Magik_Civicsettings>
    </modules>
    <admin>
        <routers>
            <civicsettings>
                <use>admin</use>
                <args>
                    <module>Magik_Civicsettings</module>
                    <frontName>civicsettings</frontName>
                </args>
            </civicsettings>
        </routers>
    </admin>            
	<adminhtml>
        <layout>
            <updates>
                <civicsettings>
                    <file>civicsettings.xml</file>
                </civicsettings>
            </updates>
        </layout>
        
		<translate>
		     <modules>
		         <Magik>
		             <files>
		                 <default>Magik_Civicsettings.csv</default>
		             </files>
		         </Magik>
		     </modules>
		 </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
			                <children>
			                    <config>
			                        <children>
			                            <civicsettings>
			                                <title>Civic Theme Settings</title>
			                            </civicsettings>
			                        </children>
			                    </config>
			                </children>
			            </system>
						<magik>
			                <children>
                                <civic>
                                    <title>Civic</title>
                                    <children>
                                        <settings>
                                            <title>Theme Settings</title>
                                        </settings> 
                                        <restore>
                                            <title>Restore Defaults</title>
                                        </restore>
                                    </children>
                                </civic>
			                </children>
			            </magik>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	<global>
        <blocks>
            <civicsettings>
                <class>Magik_Civicsettings_Block</class>
            </civicsettings>
        </blocks>
        <helpers>
            <civicsettings>
                <class>Magik_Civicsettings_Helper</class>
            </civicsettings>
        </helpers>
		<models>
            <civicsettings>
                <class>Magik_Civicsettings_Model</class>
            </civicsettings>
        </models>
        <resources>
            <civicsettings_setup>
                <setup>
                    <module>Magik_Civicsettings</module>
	                <class>Magik_Civicsettings_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </civicsettings_setup>
            <civicsettings_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </civicsettings_write>
            <civicsettings_read>
               <connection>
                <use>core_read</use>
              </connection>
            </civicsettings_read>
        </resources>
    </global>
	<default>
		<civicsettings>
			<civicsettings_appearance>
				<footer>informative</footer>
				<width>flexible</width>			
				<font>Lato</font>
				<color></color>
				<header_bg_color></header_bg_color>
				<header_fg_color></header_fg_color>
				<footer_bg_color></footer_bg_color>
				<footer_fg_color></footer_fg_color>
				<content_bg_color></content_bg_color>
			</civicsettings_appearance>
			<civicsettings_header>
				<navigation_home>0</navigation_home>
			</civicsettings_header>
			<civicsettings_menu>
                                <navigation_menu_type>mega-menu</navigation_menu_type>                                
                        </civicsettings_menu>
			<civicsettings_labels>
				<new_label>1</new_label>
				<new_label_position>top-left</new_label_position>
				<new_label_text>New</new_label_text>
				<sale_label>1</sale_label>
				<sale_label_position>top-right</sale_label_position>
				<sale_label_text>Sale</sale_label_text>
			</civicsettings_labels>
			<civicsettings_footer>
			        <footer_google_analytics></footer_google_analytics>
                                <footer_google_analytics_path></footer_google_analytics_path>                                
			</civicsettings_footer>
			<civicsettings_social>
			        <social_link>1</social_link>
                     <facebook_social_link>1</facebook_social_link>
			        <facebook_social_link_path>#</facebook_social_link_path>
                     <twitter_social_link>1</twitter_social_link>
			        <twitter_social_link_path>#</twitter_social_link_path>
                     <googleplus_social_link>1</googleplus_social_link>
                                <googleplus_social_link_path>#</googleplus_social_link_path> 
                                   <rss_social_link>1</rss_social_link>   
                                   <rss_social_link_path>#</rss_social_link_path>
                                   <pinterest_social_link>1</pinterest_social_link>
                                <pintrest_social_link_path>#</pintrest_social_link_path>
                                 <linkedin_social_link>1</linkedin_social_link>
                                <linkedin_social_link_path>#</linkedin_social_link_path>
                                <youtube_social_link>1</youtube_social_link>
                                <youtube_social_link_path>#</youtube_social_link_path>
                        </civicsettings_social>
                        <civicsettings_products>
                                <upsell_product>1</upsell_product>
                                <related_product>1</related_product>
                                <nextprevious_product>1</nextprevious_product>
                        </civicsettings_products>                                              
                        <civicsettings_shoppingcart>
                                <shoppingcart_top>1</shoppingcart_top>
                        </civicsettings_shoppingcart>
                        <civicsettings_newsletterpopup>
                                <newsletterpopup_enable>1</newsletterpopup_enable>
                        </civicsettings_newsletterpopup>
                        <civicsettings_quickview>
                                <enable>1</enable>
                        </civicsettings_quickview>
		</civicsettings>
	</default>
</config>